body {
  background-color: white;
  margin: 0;
  padding: 0;
}

#board {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: auto;
  margin: auto;
  position: relative;
}

#border-up {
  background-color: white;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0vh;
}

#border-down {
  background-color: white;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0vh;
}

#net {
  width: 15px;
  height: 95vh;
  position: absolute;
  left: 50vw;
  margin: 2vh 0vh 2vh 0vh;
  background-image: linear-gradient(black 50%, white 50%);
  background-size: 100% 20.8px; /* Control height/spacing of squares */
  background-repeat: repeat-y; /* Repeat the pattern vertically */
}

#player {
  background-color: white;
  width: 2vw;
  height: 10vh;
  position: absolute;
  bottom: 50vh;
  left: 1vw;
}

#opponent {
  background-color: white;
  width: 2vw;
  height: 40vh;
  position: absolute;
  bottom: 50vh;
  left: 97vw;
}

#ball {
  background-color: white;
  position: absolute;
  bottom: 50vh;
  left: 50vw;
  width: 1vw;
  height: 2vh;
}


#points-player {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 9vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  bottom: 80vh;
  width: 10vw;
  height: 15vh;
  left: 20vw
}


#points-opponent {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 9vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  bottom: 80vh;
  width: 10vw;
  height: 15vh;
  left: 70vw
}